<div class="container" id="product">
   
 <div class="wrapper">
     <h2 class="text-center header-size font-size">Our Collections</h2>
     <nav>
        <div class="items">
            <span class="item active" data-name="all">All</span>
            <span class="item" data-name="Shirt">Shirt</span>
            <span class="item" data-name="Dresses">Dresses</span>
            <span class="item" data-name="Jeans">Jeans</span>
            
            
        </div>
      </nav>
      <div class="gallery">
        
        <div class="image" data-name="Shirt"><span><img src="./images/shirt.jpg" alt=""></span></div>
        <div class="image" data-name="Dresses"><span><img src="./images/dress.jpg" alt=""></span></div>
        <div class="image" data-name="Jeans"><span><img src="./images/jeans.jpg" alt=""></span></div>
        <div class="image" data-name="Shirt"><span><img src="./images/shirt1.jpg" alt=""></span></div>
        <div class="image" data-name="Dresses"><span><img src="./images/dress1.jpg" alt=""></span></div>
        <div class="image" data-name="Jeans"><span><img src="./images/jeans1.jpg" alt=""></span></div>
        <div class="image" data-name="Shirt"><span><img src="./images/shirt2.jpg" alt=""></span></div>
        <div class="image" data-name="Dresses"><span><img src="./images/dress2.jpg" alt=""></span></div>
        <div class="image" data-name="Jeans"><span><img src="./images/jeans2.jpg" alt=""></span></div>
        <div class="image" data-name="Shirt"><span><img src="./images/shirt3.jpg" alt=""></span></div>
        <div class="image" data-name="Dresses"><span><img src="./images/dress3.jpg" alt=""></span></div>
        <div class="image" data-name="Jeans"><span><img src="./images/jeans3.jpg" alt=""></span></div>
    
      </div>
 </div>

</div>
